body {
  background-color: rgb(90, 238, 70);
}
.mainSection {
  /* background-color: rgb(90, 238, 70); */
  padding: 2em;
  max-width: 30em;
  height: 50em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.showModal {
  padding: 10px;
  margin-right: 10px;
  background-color: white;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 54px;
}
.hidden {
  background-color: white;
  width: 22em;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: none;
}
.closeModal {
  text-align: right;
  background-color: rgb(216, 228, 218);
  font-size: 20px;
  margin-left: 333px;
}
